<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Список товаров</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="css/adBoardStyle.css" rel="stylesheet"/>
    <link href="css/adBoardStyle2.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="text-center">
            <a th:href="@{/newAdvert}" class="btn btn-success">New Advert</a>
        </div>
    </header>
        <ul class="products clearfix">
            <div th:each="advert : ${adverts}">
                <li class="product-wrapper">
                    <a href="" class="product">
                        <div class="product-main">
                            <div class="product-photo">
                                <img th:src="${advert.image}" alt=""/>
                            </div>
                            <div class="product-text">
                                <h2 class="produvt-name" th:text="${advert.title}"></h2>
                                <p th:text="${advert.description}"></p>
                                <div class="text-center">
                                    <span class="product-price">
									    <b th:text="${advert.price}"></b>
								    	<small>$</small>
								    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                        <a th:href="@{/adBoard/details/} + ${{advert.id}}" class="button">Details</a>
                </li>
            </div>
        </ul>
</div>
</body>
</html>